
* {
    margin:2px;
    padding:0;
    box-sizing: border-box;
}

header {
    display: block;
    unicode-bidi: isolate;
}

body {
    background-color: rgb(184, 179, 179);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

div {
    display: block;
    unicode-bidi: isolate;
}

img {
    height: 240px;
    width: 240px;
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    background-color: goldenrod;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

nav ul li :hover {
    background-color: beige;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.skill {
    flex: 1;
    min-width: 150px;
    margin: 1em;
    text-align: center;
    background: #eee;
    padding: 1em;
    border-radius: 8px;
    max-width: 400px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

#projects {
    display: flex;
    justify-content: space-evenly;
}

#projects .project {
    margin: 1em;
    padding: 1em;
    border: 5px solid black;
    border-radius: 10px;
    background: #6b6b6b;
    max-width: 400px;
}
  
#about {
    text-align: center;
    padding: 2em;    
}
#contact {
    background-color: #6b6b6b;
    text-align: center;
    padding: 2em;    
}
 